@import '../../../../styles/variables';
.categories-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.empty-categories__icon{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 6rem;
    color: $black;
}

.empty-categories__text{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    color: $black;
}
