@import '../../../../styles/variables.scss';
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-light-grey, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba($black, 0.2);
    padding: 1.25rem;
  }
  
  button {
    margin-top: 0.625rem;
    border: none;
    background-color: $approval;
    font-size: 1.5rem;
    border-radius: 2rem;
    color: $bg-light-grey;
    padding: .5rem .5rem;
    box-sizing: content-box;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2);
    cursor: pointer;
    &:hover{
        background-color: darken($approval, $amount: 10);
    }
  }
  .icon{
    font-size: 3.4rem;
    color: $approval;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2{
    color: $black;
    text-align: center;
    font-size: 3rem;
  }