@import '../../../../styles/variables';
.button-green{
    border: none;
    background-color: $approval;
    font-size: 2.5rem;
    border-radius: 4rem;
    color: $bg-light-grey;
    padding: .5rem 3rem;
    box-sizing: content-box;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2);
    cursor: pointer;
    &:hover{
        background-color: darken($purple, $amount: 10);
    }
}